<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<% if @tickets.nil? %>

<% else %>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Body</th>
	      <th>Level</th>
	      <th>Assigned To</th>
	      <th>Created By</th>
	      <th colspan="3"></th>
	      <th>Resolved?</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @tickets.each do |ticket| %>
	      <tr>
		<td><%= ticket.title %></td>
		<td><%= ticket.body %></td>
		<td><%= ticket.level %></td>
		<% if ticket.user == nil %>
			<td><%= %></td>
		<% else %>
			<td><%= ticket.user.name %></td>
		<% end %>		
		<td><%= link_to 'Show', ticket %></td>
		<td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
		<td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% if current_user.admin? %>
			<td><%= best_in_place ticket, :status, as: :select, :collection => {"f" => "False", "t" => "True" }, :selected => "False" %>
		<% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<br>
<% end %>

<% if !current_user.admin? %>
	<%= link_to 'New Ticket', new_ticket_path %>
<% end %>
